/* Import Primer CSS framework */
@import 'primer/css/dist/primer.css';

/* Base tokens */
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/base/colors/light.css';
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/base/colors/color-scales-with-modes.css';
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/base/size/size.css';
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/base/typography/typography.css';

/* Functional Animation tokens */ 
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/functional/animation/base.css';

/* Functional Color tokens */
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/functional/colors/global.css';
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/functional/colors/global-with-modes.css';

/* Functional Component tokens */
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/functional/components/card/base.css';
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/functional/components/card/colors.css';
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/functional/components/card/colors-with-modes.css';
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/functional/components/control/colors-with-modes.css';
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/functional/components/grid/colors.css';
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/functional/components/grid/colors-with-modes.css';
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/functional/components/grid/grid.css';
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/functional/components/section/section.css';

/* Functional Size tokens */
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/functional/size/border.css';
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/functional/size/breakpoints.css';
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/functional/size/size.css';
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/functional/size/size-coarse.css';
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/functional/size/size-fine.css';
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/functional/size/viewport.css';

/* Functional Typography tokens */
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/functional/typography/typography.css';
@import 'primer/brand-primitives/lib/design-tokens/css/tokens/functional/typography/typography-responsive.css';

/* Component styles */
@import 'primer/brand-css/components/Box/Box.css';
@import 'primer/brand-css/components/Grid/Grid.css';
@import 'primer/brand-css/components/Stack/Stack.css';
