@inherits LayoutComponentBase

<ThemeProvider Theme="ThemeColor.Light">

    <div class="page">
        <div class="sidebar">
            <Box BackgroundColor="BackgroundColor.Inset" BorderColor="BorderColor.Default" BorderStyle="BorderStyle.Solid" BorderInlineEndWidth="BorderWidth.Thin" Padding="PaddingSize.Condensed">
                @* <NavMenu /> *@
            </Box>
        </div>

        <main>
@*             <div class="top-row">
                <Box BackgroundColor="BackgroundColor.Inset" BorderColor="BorderColor.Default" BorderStyle="BorderStyle.Solid" BorderBlockEndWidth="BorderWidth.Thin" Padding="PaddingSize.Condensed">
                </Box>
            </div> *@

            <article class="content px-4">
                @Body
            </article>

            <footer class="content px-4">
                <p>&copy; 2026 - MarquitosPT</p>
            </footer>
        </main>
    </div>
</ThemeProvider>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
