@using Marquitos.Primer.Blazor.Services
<Stack Direction="Direction.Horizontal" HorizontalAlignment="HorizontalAlignment.End">
    <button type="button" class="btn" @onclick="ButtonLightClick">Light Theme</button>
    <button type="button" class="btn" @onclick="ButtonDarkClick">Dark Theme</button>
</Stack>

@code {
    [Inject]
    private ThemeService ThemeService { get; set; } = default!;

    private async Task ButtonLightClick(MouseEventArgs args)
    {
        await ThemeService.SetThemeAsync(ThemeColor.Light);
    }

    private async Task ButtonDarkClick(MouseEventArgs args)
    {
        await ThemeService.SetThemeAsync(ThemeColor.Dark);
    }
}
