@page "/"
@using Marquitos.Primer.Blazor.Services

<PageTitle>Home</PageTitle>

<h2>Welcome to Marquitos Primer Blazor Components</h2>

<br />

<p><strong>Marquitos Primer Blazor Components</strong> is an open source library inspired by GitHub’s <strong>Primer Brand UI</strong> — the design system behind GitHub.com/marketing.</p>

<p>The main goal is to bring these marketing components to the Blazor ecosystem — Hero, CTA, Section Intro, Bento, River,
LogoGrid, Testimonial, Timeline, Feature Comparison, and more — so developers can build clean, consistent,
and production‑ready UIs while contributing to an open, community‑driven project that keeps getting better together.</p>

<p>Explore the source code on GitHub. Click <a href="https://github.com/MarquitosPT/Marquitos.Primer.Blazor" title="Marquitos.Primer.Blazor" target="_blank">here</a> to visit the project page.</p>

<br />
